/* Basic styles for layout and table */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#formContainer {
    max-width: 810px;
    margin: 0 auto;
    padding: 20px;
}

.passHead{
    background-color: #f2f2f2;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
  
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
  
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
  
th {
    background-color: #f2f2f2;
}
  
.hidden {
    display: none;
}

.divA {
    /* background-color: red; */
    display: flex;
    flex-direction:column;
    /* padding: 1%; */
    justify-content: space-between;
    /* align-items: center; */
}

label{
    display: block;
}

.item{
    padding: 10px;
    width: 80%;
    margin-bottom: 15px;
}
  
  